.mainOrderSummery {
  width: 55vw;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkoutbutton {
  width: 150px;
  display: flex;
  align-self: flex-end;
}
